header {
  background-color: var(--primeColor);
  color: #ffffff
}

.navbar-brand {
  font-size: 17px;
  color: #ffffff
}

.circleContent {

  background-color: rgb(118, 118, 118);
  outline-color: rgb(118, 118, 118);
}

.circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-sizing: content-box;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  line-height: 33px;
  color: #fff;
}

.cog {
  font-size: 24px;
}

.rightTopNav li.nav-item {
  min-width: 48px;
  cursor: pointer;
}

.rightTopNav .navbar-nav {
  flex-direction: row
}
