<div class="row">
  <div class="col-12">
    <div class="nav leftSidebar">
      <div class="item">
       <h6 (click)="showFolders()"><i [ngClass]="{'fa-chevron-up':isFolder,'fa-chevron-down':!isFolder}" class="fas fa-chevron-down"></i> Folders</h6>
       <nav class="folders" *ngIf="isFolder">
         <ul class="list-group">
           <li class="list-group-item" [routerLinkActive]="['active']"  [routerLink]="['inbox']">InBox
            </li>
           <li class="list-group-item"  [routerLinkActive]="['active']"  [routerLink]="['spam']">Spam
            </li>
           <li class="list-group-item"  [routerLinkActive]="['active']"  [routerLink]="['deleted']">Deleted Items 
            </li>
         </ul>
       </nav>
      </div>
    </div>
  </div>
</div>