/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-Thin.otf") format('opentype');
}

/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-ThinItalic.otf") format('opentype');
}

/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-ExtraLight.otf") format('opentype');
}

/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-ExtraLightItalic.otf") format('opentype');
}

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-Light.otf") format('opentype');
}

/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-LightItalic.otf") format('opentype');
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-Regular.otf") format('opentype');
}

/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-Italic.otf") format('opentype');
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-Medium.otf") format('opentype');
}

/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-MediumItalic.otf") format('opentype');
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-SemiBold.otf") format('opentype');
}

/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-SemiBoldItalic.otf") format('opentype');
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-Bold.otf") format('opentype');
}

/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-BoldItalic.otf") format('opentype');
}

/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-ExtraBold.otf") format('opentype');
}

/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-ExtraBoldItalic.otf") format('opentype');
}

/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/otf/Montserrat-Black.otf") format('opentype');
}

/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/otf/Montserrat-BlackItalic.otf") format('opentype');
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-Thin.otf") format('opentype');
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-ThinItalic.otf") format('opentype');
}

/** Montserrat Alternates ExtraLight **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-ExtraLight.otf") format('opentype');
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-ExtraLightItalic.otf") format('opentype');
}

/** Montserrat Alternates Light **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-Light.otf") format('opentype');
}

/** Montserrat Alternates Light-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-LightItalic.otf") format('opentype');
}

/** Montserrat Alternates Regular **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-Regular.otf") format('opentype');
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-Italic.otf") format('opentype');
}

/** Montserrat Alternates Medium **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-Medium.otf") format('opentype');
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-MediumItalic.otf") format('opentype');
}

/** Montserrat Alternates SemiBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-SemiBold.otf") format('opentype');
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-SemiBoldItalic.otf") format('opentype');
}

/** Montserrat Alternates Bold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-Bold.otf") format('opentype');
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-BoldItalic.otf") format('opentype');
}

/** Montserrat Alternates ExtraBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-ExtraBold.otf") format('opentype');
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-ExtraBoldItalic.otf") format('opentype');
}

/** Montserrat Alternates Black **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/otf/MontserratAlternates-Black.otf") format('opentype');
}

/** Montserrat Alternates Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/otf/MontserratAlternates-BlackItalic.otf") format('opentype');
}



@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/Light/OpenSans-Light.woff2?v=1.101) format("woff2"), url(../fonts/openSans/Light/OpenSans-Light.woff?v=1.101) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/LightItalic/OpenSans-LightItalic.woff2?v=1.101) format("woff2"), url(../fonts/openSans/LightItalic/OpenSans-LightItalic.woff?v=1.101) format("woff");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/Regular/OpenSans-Regular.woff2?v=1.101) format("woff2"), url(../fonts/openSans/Regular/OpenSans-Regular.woff?v=1.101) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/Italic/OpenSans-Italic.woff2?v=1.101) format("woff2"), url(../fonts/openSans/Italic/OpenSans-Italic.woff?v=1.101) format("woff");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/Semibold/OpenSans-Semibold.woff2?v=1.101) format("woff2"), url(../fonts/openSans/Semibold/OpenSans-Semibold.woff?v=1.101) format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.101) format("woff2"), url(../fonts/openSans/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.101) format("woff");
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/Bold/OpenSans-Bold.woff2?v=1.101) format("woff2"), url(../fonts/openSans/Bold/OpenSans-Bold.woff?v=1.101) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.101) format("woff2"), url(../fonts/openSans/BoldItalic/OpenSans-BoldItalic.woff?v=1.101) format("woff");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.101) format("woff2"), url(../fonts/openSans/ExtraBold/OpenSans-ExtraBold.woff?v=1.101) format("woff");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.101) format("woff2"), url(../fonts/openSans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.101) format("woff");
  font-weight: 800;
  font-style: italic
}
