@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/Regular/OpenSans-Regular.woff2?v=1.101) format("woff2"), url(../fonts/openSans/Regular/OpenSans-Regular.woff?v=1.101) format("woff");
  font-weight: 400;
  font-style: normal
}



@font-face {
  font-family: "Open Sans";
  src: url(../fonts/openSans/Bold/OpenSans-Bold.woff2?v=1.101) format("woff2"), url(../fonts/openSans/Bold/OpenSans-Bold.woff?v=1.101) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'SohoPro-Bold';
  src: url('../fonts/soho/SohoPro-Bold.eot');
  src: url('../fonts/soho/SohoPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/soho/SohoPro-Bold.woff2') format('woff2'),
    url('../fonts/soho/SohoPro-Bold.woff') format('woff'),
    url('../fonts/soho/SohoPro-Bold.ttf') format('truetype'),
    url('../fonts/soho/SohoPro-Bold.svg#SohoPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoPro-Regular';
  src: url('../fonts/soho/SohoPro-Regular.eot');
  src: url('../fonts/soho/SohoPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/soho/SohoPro-Regular.woff2') format('woff2'),
    url('../fonts/soho/SohoPro-Regular.woff') format('woff'),
    url('../fonts/soho/SohoPro-Regular.ttf') format('truetype'),
    url('../fonts/soho/SohoPro-Regular.svg#SohoPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SohoPro-Light';
  src: url('../fonts/soho/SohoPro-Light.eot');
  src: url('../fonts/soho/SohoPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/soho/SohoPro-Light.woff2') format('woff2'),
    url('../fonts/soho/SohoPro-Light.woff') format('woff'),
    url('../fonts/soho/SohoPro-Light.ttf') format('truetype'),
    url('../fonts/soho/SohoPro-Light.svg#SohoPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
