<section class="content">
<div class="split-left">

  <section class="lists">
      <div class="search-box">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Current Mailbox">
       </div>
       <div class="min-header">
         <div class="sortby">
           <p (click)="sortByDate()">Sort By Date <i [ngClass]="{'fa-long-arrow-alt-down':_isAsc,'fa-long-arrow-alt-up':!_isAsc}" class="fas "></i></p>
         </div>
         <div class="filterby">
            <ngx-select   [defaultValue]="_ngxDefault" [items]="items" (select)="filter($event)"></ngx-select>
         </div>
          
       </div>
    <ul class="list-inline">
        <perfect-scrollbar style="max-height: 600px;" [config]="config">
      <ng-container  *ngFor="let item of inBoxData | filter:searchText" >
         
      <li class="rowitems" [ngClass]="{'active':isItem[item.mId],'clickActive':isPreviewItem[item.mId],'unread':item.unread}" (mouseleave)="mouseInActive(item,$event)" (mouseenter)="mouseActive(item,$event)" >
          <div *ngIf="isItem[item.mId] || isPreviewItem[item.mId]" class="custom-control checkbtn custom-checkbox mb-3">
              <input (change)="checkValue(item,$event)" type="checkbox" class="custom-control-input" id="{{item.mId}}" name="example1">
              <label class="custom-control-label" for="{{item.mId}}">&nbsp;</label>
            </div>
        <div class="item-con" (click)="previewFn(item)">
            <div class="recipent-name"  [innerHTML]="item.name"></div>
            <div class="subject">
              {{item.subject}}
                <div class="date">
                    {{item.date | date:'EEE dd/M H:mm'}}
                </div>
            </div>
            <div class="min-content"  [innerHTML]="item.content"></div>
            
        </div>
       
      </li>
    </ng-container>
  </perfect-scrollbar>
    </ul>
  </section>

</div>
<div class="splitter">

</div>
<div class="split-right">
<!--content-->
<ng-container *ngIf="preview && displayView">
  
  <div class="right_content">
      <div class="subject">
          {{displayView.subject}}
      </div>
      <div class="mail-header">
          <div class="msginfo">
            <div class="circle">
                    <div  class="circleContent">{{displayView.sn}}</div>
             </div>
                <div class="recipent-name"><span >{{displayView.name}}</span></div>
            
          </div>
          <div class="msgActions"></div>
      </div>

      <div class="mail-body f-family-sohoR ">
          <div [innerHTML]="displayView.content"></div>
        
      </div>
  </div>
</ng-container>
<ng-container *ngIf="!preview">
    <div class="mail-body empty f-family-sohoR ">  
      <div class="envelope">
          <i class="far fa-envelope"></i>
      </div>       
    Select an item to read
    </div>
  
</ng-container>
</div>

</section>