.split-left{
    position: absolute;
    top: 0px;
    right: auto;
    bottom: 0px;
    left: 0px;
    height: auto;
    width: 314px;
}
.split-right{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 318px;
    height: auto;
    width: auto;
  
}
.splitter{
    position: absolute;
    top: 0px;
    right: auto;
    bottom: 0px;
    left: 314px;
    height: auto;
    width: 4px;
    border-left: 1px solid #e5e3e3;
}